@using BlazorServerAppDemo.Models;

<div class="row g-3">
    <div class="col-12 col-sm-12">
        <BootstrapInput TValue="string" @bind-Value="Value.RequestCode" ShowLabel="true" DisplayText="请求码" />
    </div>
    <div class="col-12 col-sm-12">
        <BootstrapInput TValue="string" @bind-Value="Value.ResultCode" ShowLabel="true" DisplayText="请求码" />
    </div>
</div>